.Button {
  border-radius: 4px;
  margin: 0 auto;
  color: var(--gray);
  font-size: 14px;
  height: 40px;
  font-weight: bold;
  padding-left: 35px;
  padding-right: 35px;
}

.Button:disabled {
  color: var(--gray);
  background: #eee;
  border: none;
}

.Button_primary {
  background: white;
  color: var(--primary);
  border: 1px solid var(--light-gray);
}

.Button_primary {
  color: var(--primary);
}

.Button_secondary {
  color: white;
  background: var(--secondary);
  border: none;
}

.Button_outline {
  border: 1px solid;
  transition: all 0.3s;
}

.Button_primary.Button_outline:hover {
  background: var(--primary);
  color: white;
  transition: all 0.3s;
}

.Button:hover {
  cursor: pointer;
}

.Button-link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Button_small {
  height: 30px;
  font-size: 16px;
  font-weight: normal;
  border: 1px solid;
}
